.side-header {
    width: 300px !important;
    /* background-color: #161824; */
    background-color: #fafafa;
    height: calc(100vh - 80px);
    position: fixed;
    left: 0;
    top: 58px;
}
.content-body {
    padding: 30px;
    margin-top: 58px;
}
.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
}
.form-check-input {
    margin-left: 0rem;
}
label {
    display: inline-flex;
}
